@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f9f5f2;
  font-family: "Inter", sans-serif;
}

.dark {
  background-color: #10162f !important;
}

.bg-border {
  border: 3px solid #282825;
  box-shadow: 3px 3px 0 0 #282825;
}

.bg-border-dark {
  border: 3px solid #282825;
}
